aiohttp
asgiref
async-timeout
Flask
Flask-Login
gevent ; sys_platform == 'linux'
gunicorn ; sys_platform == 'linux'
python-dotenv
uvloop ; sys_platform == 'linux'
waitress
pymongo
email-validator
Flask-WTF
dnspython