aiohttp
asgiref
async-timeout
Flask
Flask-Login
gevent ; sys_platform == 'linux'
gunicorn ; sys_platform == 'linux'
python-dotenv
uvloop ; sys_platform == 'linux'
waitress
pymongo
email-validator
Flask-WTF
dnspython
lru-dict

# flake8
flake8
flake8-2020
flake8-annotations
flake8-async
flake8-bandit
flake8-blind-except
flake8-boolean-trap
flake8-bugbear
flake8-builtins
flake8-commas
flake8-comprehensions
flake8-datetimez
flake8-debugger
flake8-errmsg
flake8-executable
flake8-fixme
flake8-future-annotations
flake8-gettext
flake8-implicit-str-concat
flake8-import-conventions
flake8-json
flake8-logging-format
flake8-no-pep420
flake8-pie
flake8-print
flake8-pyi
flake8-pytest-style
flake8-quotes
flake8-raise
flake8-return
flake8-self
flake8-simplify
flake8-tidy-imports
flake8-todos
flake8-type-checking
flake8-unused-arguments
flake8-use-pathlib

# formatting

isort
black

pyright
ruff
bandit