{% extends "base.html" %}
{% block head %}<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>{% endblock %}
{% block body %}
    <div class="container-xl">
        <div class="row">
            <div class="col-9 d-flex justify-content-center align-items-center">
                <div class="m-2 p-2 fs-6">Sample Test - 10 Random Questions from Pool</div>
            </div>
            <div class="col-3 d-flex justify-content-center align-items-center">
                <div class="m-2 p-2 fs-6" id="time">This is test interface</div>
            </div>
        </div>
        <div class="row bg-transparent">
            <div class="col overflow-scroll vh-100">
                {% for item in questions %}
                    <div class="card rounded rounded-0 mb-2 ms-2 border border-1 bg-light" id="question-{{ loop.index }}">
                        <div class="card-body p-0 m-0" id="{{ item._id }}">
                            <div class="row">
                                <div class="col">
                                    <div class="container m-3 fs-5 d-flex">
                                        {% set index = loop.index %}
                                        <span class="m-3">{{ index }}.</span>
                                        <span class="m-3">{{ item.q | safe }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="container pb-4">
                                        {% for option in item.o %}
                                            <input class="m-3 p-3 shadow-sm" type="radio" name="question{{ index }}" value="{{ option }}">
                                            <label for="question{{ index }}" class="fs-6">{{ option }}</label>
                                            <br>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            {{ item.e | safe }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
