{% macro front_interview() -%}
<div class="container p-1">
    <div class="row">
        <div class="col mt-3 pt-3">
            <h1 class="text-center text-white bg-dark p-2 rounded rounded-2 cyan-glow">Master the Interview</h1>
            <div class="row gap-0 column-gap-3 row-gap-3 text-center mt-5 p-3">
                <div class="col p-3 border border-3 border-dark fs-4 rounded rounded-3" style="transition: transform .2s; transform-origin: center;" onmouseover="this.style.transform='scale(1.05)'" onmouseout="this.style.transform='scale(1)'">
                    <a class="nav-link" href="" style="display: block; width: 100%; height: 100%; text-decoration: none; color: inherit;">
                        <i class="bi bi-pc-horizontal fs-1"></i>
                        <p class="fs-3 searchable">HR Interview</p>
                    </a>
                </div>
                <div class="col p-3 border border-3 border-dark fs-4 rounded rounded-3" style="transition: transform .2s; transform-origin: center;" onmouseover="this.style.transform='scale(1.05)'" onmouseout="this.style.transform='scale(1)'">
                    <a class="nav-link" href="" style="display: block; width: 100%; height: 100%; text-decoration: none; color: inherit;">
                        <i class="bi bi-pc-horizontal fs-1"></i>
                        <p class="fs-3 searchable">Puzzle Interview</p>
                    </a>
                </div>
                <div class="col p-3 border border-3 border-dark fs-4 rounded rounded-3" style="transition: transform .2s; transform-origin: center;" onmouseover="this.style.transform='scale(1.05)'" onmouseout="this.style.transform='scale(1)'">
                    <a class="nav-link" href="" style="display: block; width: 100%; height: 100%; text-decoration: none; color: inherit;">
                        <i class="bi bi-pc-horizontal fs-1"></i>
                        <p class="fs-3 searchable">Group Discussion</p>
                    </a>
                </div>
            </div>
            <div class="row gap-0 column-gap-3 row-gap-3 text-center mt-5 p-3">
                <div class="col p-3 border border-3 border-dark fs-4 rounded rounded-3" style="transition: transform .2s; transform-origin: center;" onmouseover="this.style.transform='scale(1.05)'" onmouseout="this.style.transform='scale(1)'">
                    <a class="nav-link" href="" style="display: block; width: 100%; height: 100%; text-decoration: none; color: inherit;">
                        <i class="bi bi-pc-horizontal fs-1"></i>
                        <p class="fs-3 searchable">Resume Building</p>
                    </a>
                </div>
                <div class="col p-3 border border-3 border-dark fs-4 rounded rounded-3" style="transition: transform .2s; transform-origin: center;" onmouseover="this.style.transform='scale(1.05)'" onmouseout="this.style.transform='scale(1)'">
                    <a class="nav-link" href="" style="display: block; width: 100%; height: 100%; text-decoration: none; color: inherit;">
                        <i class="bi bi-patch-question fs-1"></i>
                        <p class="fs-3 searchable">Logical Reasoning</p>
                    </a>
                </div>
                <div class="col p-3 border border-3 border-dark fs-4 rounded rounded-3" style="transition: transform .2s; transform-origin: center;" onmouseover="this.style.transform='scale(1.05)'" onmouseout="this.style.transform='scale(1)'">
                    <a class="nav-link" href="" style="display: block; width: 100%; height: 100%; text-decoration: none; color: inherit;">
                        <i class="bi bi-pc-horizontal fs-1"></i>
                        <p class="fs-3">View All</p>
                    </a>
                </div>
            </div>
            
        </div>
    </div>
</div>
{%- endmacro %}