{% macro front_aptitude() -%}

<div class="container p-1">
    <div class="row">
        <div class="col mt-3 pt-3">
            <h1 class="text-center text-white bg-dark p-2 rounded rounded-2 cyan-glow">Learn Aptitude</h1>
            <div class="row gap-0 column-gap-3 row-gap-3 text-center mt-5">
                <div class="col p-3 border border-2 border-light fs-4 rounded rounded-3 cyan-glow">
                    <a class="nav-link" href="">
                        <i class="bi bi-gear fs-1"></i>
                        <p class="fs-3">
                            Quantitative Aptitude
                        </p>
                    </a>
                </div>
                <div class="col p-3 border border-2 border-light fs-4 rounded rounded-3 cyan-glow">
                    <a class="nav-link" href="">
                        <i class="bi bi-patch-question fs-1"></i>
                        <p class="fs-3">
                            Logical Reasoning
                        </p>
                    </a>
                </div>
                <div class="col p-3 border border-2 border-light fs-4 rounded rounded-3 cyan-glow">
                    <a class="nav-link" href="">
                        <i class="bi bi-clipboard-data fs-1"></i>
                        <p class="fs-3">
                            Data Interpretation
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{%- endmacro %}