{% macro front_aptitude() -%}
<div class="container p-1">
    <div class="row">
        <div class="col mt-3 pt-3">
            <div class="row gap-0 column-gap-3 row-gap-3 text-center">
                <div class="col p-3 border border-3 border-dark fs-4 rounded rounded-0" style="transition: transform .2s; transform-origin: center;" onmouseover="this.style.transform='scale(1.05)'" onmouseout="this.style.transform='scale(1)'">
                    <a class="nav-link stretched-link" href="{{ url_for('arithmetic_ability') }}">
                        <i class="bi bi-gear fs-1"></i>
                        <p class="fs-3 searchable">Arithmetic Ability</p>
                    </a>
                </div>
                <div class="col p-3 border border-3 border-dark fs-4 rounded rounded-0" style="transition: transform .2s; transform-origin: center;" onmouseover="this.style.transform='scale(1.05)'" onmouseout="this.style.transform='scale(1)'">
                    <a class="nav-link stretched-link" href="{{ url_for('competitive_english') }}">
                        <i class="bi bi-patch-question fs-1"></i>
                        <p class="fs-3 searchable">Competitive English</p>
                    </a>
                </div>
                <div class="col p-3 border border-3 border-dark fs-4 rounded rounded-0" style="transition: transform .2s; transform-origin: center;" onmouseover="this.style.transform='scale(1.05)'" onmouseout="this.style.transform='scale(1)'">
                    <a class="nav-link stretched-link" href="{{ url_for('competitive_reasoning') }}">
                        <i class="bi bi-clipboard-data fs-1"></i>
                        <p class="fs-3 searchable">Competitive Reasoning</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>                        
{%- endmacro %}
