{% macro front_companies() -%}

<div class="container p-1">
    <div class="row">
        <div class="col mt-3 pt-3">
            <h1 class="text-center text-white bg-dark p-2 rounded rounded-2 cyan-glow">Companies/Platforms</h1>
            <div class="row gap-0 column-gap-3 row-gap-3 text-center mt-5">
                <div class="col p-3 border border-2 border-light fs-4 rounded rounded-3 cyan-glow">
                    <a class="nav-link" href="">
                        <i class="bi bi-building-check fs-1"></i>
                        <p class="fs-3">
                            TCS NQT
                        </p>
                    </a>
                </div>
                <div class="col p-3 border border-2 border-light fs-4 rounded rounded-3 cyan-glow">
                    <a class="nav-link" href="">
                        <i class="bi bi-building-check fs-1"></i>
                        <p class="fs-3">
                            Wipro NLTH
                        </p>
                    </a>
                </div>
                <div class="col p-3 border border-2 border-light fs-4 rounded rounded-3 cyan-glow">
                    <a class="nav-link" href="">
                        <i class="bi bi-building-check fs-1"></i>
                        <p class="fs-3">
                            Infosys
                        </p>
                    </a>
                </div>
            </div>
            <div class="row gap-0 column-gap-3 row-gap-3 text-center mt-5">
                <div class="col p-3 border border-2 border-light fs-4 rounded rounded-3 cyan-glow">
                    <a class="nav-link" href="">
                        <i class="bi bi-building-check fs-1"></i>
                        <p class="fs-3">
                            CoCubes
                        </p>
                    </a>
                </div>
                <div class="col p-3 border border-2 border-light fs-4 rounded rounded-3 cyan-glow">
                    <a class="nav-link" href="">
                        <i class="bi bi-building-check fs-1"></i>
                        <p class="fs-3">
                            AMCAT
                        </p>
                    </a>
                </div>
                <div class="col p-3 border border-2 border-light fs-4 rounded rounded-3 cyan-glow">
                    <a class="nav-link" href="">
                        <i class="bi bi-building-check fs-1"></i>
                        <p class="fs-3">
                            IBM
                        </p>
                    </a>
                </div>
            </div>
            <!--  -->
            <div class="row gap-0 column-gap-3 row-gap-3 text-center mt-5">
                <div class="col p-3 border border-2 border-light fs-4 rounded rounded-3 cyan-glow">
                    <a class="nav-link" href="">
                        <i class="bi bi-building-check fs-1"></i>
                        <p class="fs-3">
                            Accenture
                        </p>
                    </a>
                </div>
                <div class="col p-3 border border-2 border-light fs-4 rounded rounded-3 cyan-glow">
                    <a class="nav-link" href="">
                        <i class="bi bi-building-check fs-1"></i>
                        <p class="fs-3">
                            Capgemini
                        </p>
                    </a>
                </div>
                <div class="col p-3 border border-2 border-light fs-4 rounded rounded-3 cyan-glow">
                    <a class="nav-link" href="">
                        <i class="bi bi-building-check fs-1"></i>
                        <p class="fs-3">
                            View All Companies
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endmacro %}