{% macro front_why_us() -%}
<div class="container p-1 text-center">
    <h1 class="mt-4">Why Us?</h1>

    <div class="row mt-5">
        <div class="col">
            <div class="card mb-3 border border-2 border-light cyan-glow">
                <div class="card-body">
                    <h3 class="card-title">Effective Strategies for Studying on the Go</h3>
                    <p class="card-text fs-5">
                        Study smarter, not harder. Bite-sized lessons on your phone. Master skills on the move.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card mb-3 border border-2 border-light cyan-glow">
                <div class="card-body">
                    <h3 class="card-title">Master, Don't Memorize: Build True Knowledge that Empowers You</h3>
                    <p class="card-text fs-5">
                        Master every angle: Shortcut hacks, real-world connections, and memory-magic formulas
                        unlock comprehensive learning in bite-sized modules.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card mb-3 border border-2 border-light cyan-glow">
                <div class="card-body">
                    <h3 class="card-title">Empower Your Future: Connect with Industry Mentors</h3>
                    <p class="card-text fs-5">
                        Learn from the best! Decades of industry expertise go into our modules, making quality
                        education accessible & effective.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{%- endmacro %}