{% extends "base.html" %}
{% from "navbar.html" import navbar %}
{% from "footer.html" import footer %}
{% from "language_dropdown.html" import language_dropdown %}
{% block head %}
    <style>
        #output,
        #system-output {
            font-family: 'Courier New', Courier, monospace;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/addon/hint/show-hint.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/addon/hint/show-hint.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/python/python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/4.8.0/addon/hint/python-hint.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/clike/clike.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/addon/hint/anyword-hint.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/javascript/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/addon/hint/javascript-hint.min.js"></script>
    {% if scripts_and_styles %}{{ scripts_and_styles }}{% endif %}
{% endblock %}
{% block body %}
    {{ navbar(current_user) }}
    <div class="container-xl">
        <div class="alert alert-warning text-center rounded rounded-0">
            Your code should not take more than 60 seconds to execute, else it will be terminated. The IDE is powered by <a href="https://tio.run/#">Try It Online</a>.
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="container d-flex align-items-center justify-content-center">
                    <div>
                        <p class="fs-4">Write your code here</p>
                    </div>
                    <div class="ms-auto">{{ language_dropdown() }}</div>
                    <div class="ms-auto">
                        <button class="btn border border-1 rounded rounded-0" id="run-code">Execute</button>
                    </div>
                </div>
                <div id="code-editor" class="border border-1 mt-1"></div>
            </div>
            <div class="col-md-6">
                <div class="container d-flex align-items-center justify-content-center">
                    <div>
                        <p class="fs-3">Output</p>
                    </div>
                    <div class="ms-auto">
                        <button class="btn border border-1 rounded rounded-0" id="clear-output">Clear Output</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <textarea id="output" class="form-control shadow-none border border-1 rounded rounded-0 mb-2" style="resize: none" rows="18" readonly></textarea>
                        <textarea id="system-output" class="form-control shadow-none border border-1 rounded rounded-0" style="resize: none" rows="10" readonly></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ footer() }}
{% endblock %}
{% block scripts %}
    <script>
        const mapper = {
            'c-gcc': {
                name: `text/x-csrc`,
                code: `// write your code here

#include <stdio.h>

int main() {
    printf("Hello, World!");
    return 0;
}`,
            },
            'cpp-gcc': {
                name: `text/x-c++src`,
                code: `// write your code here

#include <iostream>

int main() {
    std::cout << "Hello, World!";
    return 0;
}`,
            },
            'cs-core': {
                name: `csharp`,
                code: `// write your code here

using System;

namespace HelloWorld {
    class Program {
        static void Main(string[] args) {
            Console.WriteLine("Hello, World!");
        }
    }
}`,
            },
            'java-jdk': {
                name: `text/x-java`,
                code: `// write your code here

class HelloWorld {
    public static void main(String[] args) {
        System.out.println("Hello, World!");
    }
}`,
            },
            'javascript-node': {
                name: `text/javascript`,
                code: `// write your code here

console.log("Hello, World!");`,
            },
            'python3': {
                name: `text/x-python`,
                code: `# write your code here

print("Hello, World!")`,
            },
        };

        let selectedValue = 'c-gcc';
        let radioButtons = document.querySelectorAll('input[name="language"]');

        let editor;

        radioButtons.forEach(function(radioButton) {
            radioButton.addEventListener('change', () => {
                selectedValue = document.querySelector('input[name="language"]:checked').value;
                editor.setValue(mapper[selectedValue].code);
            })
        });

        function configEditor(value, mode) {
            editor = CodeMirror(document.getElementById("code-editor"), {
                value: value,
                mode: mode,
                lineNumbers: true,
            });
            editor.setSize("100%", "750px");
        }

        document.addEventListener("DOMContentLoaded", function() {
            configEditor(mapper[selectedValue].code, mapper[selectedValue].name);
        });

        document.getElementById('run-code').addEventListener('click', function() {
            document.getElementById('output').value = 'Executing...';
            document.getElementById('system-output').value = 'Loading metadata...';
            let code = editor.getValue();
            let language = selectedValue;

            let data = {
                "language": `${language}`,
                "code": `${code}`
            };

            let output = document.getElementById('output');
            let systemOutput = document.getElementById('system-output')
            console.log(data);
            const jsonData = JSON.stringify(data);
            fetch('/api/tio', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: jsonData,
                })
                .then(response => response.json())
                .then(data => {
                    output.value = data.output;
                    systemOutput.value = `Real Time: ${data.real_time}s
User Time: ${data.user_time}s
Sys. Time: ${data.sys_time}s

CPU Share: ${data.cpu_share}%

[Exit Code: ${data.exit_code}]`;
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        });

        document.getElementById('clear-output').addEventListener('click', function() {
            document.getElementById('output').value = '';
            document.getElementById('system-output').value = '';
        });
    </script>
{% endblock %}
