{% extends "base.html" %}
{% from "navbar.html" import navbar %}
{% from "footer.html" import footer %}

{% from "front_aptitude.html" import front_aptitude %}
{% from "front_companies.html" import front_companies %}
{% from "front_cs.html" import front_cs %}
{% from "front_interview.html" import front_interview %}
{% from "front_why_us.html" import front_why_us %}

{% block body %}
{{ navbar() }}

<section id="title">
    <div class="container-fluid container-title">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="tline">Stop guessing, start growing: Build your unique skillset</h1>
                <p class="tgline">
                    Build a unique
                    skillset based on your natural talents and watch your career and life flourish.
                </p>
                <button class="btn btn-dark btn-lg" type="button"><i class="fa-brands fa-apple"></i>Sign up</button>
            </div>
            <div class="col-lg-6 img-tg ">
                <img class="title-img" src="{{ url_for('static', filename='images/study.png') }}" alt="study-img">
            </div>
        </div>
    </div>
</section>

<hr>
<br>

{{ front_aptitude() }}

<br>
<hr class="mt-5">

{{ front_companies() }}

<br>
<hr class="mt-5">

{{ front_cs() }}

<br>
<hr class="mt-5">

{{ front_interview() }}

<br>
<hr class="mt-5">

{{ front_why_us() }}

<br>

{{ footer() }}
{% endblock %}