{% extends "base.html" %}
{% from "navbar.html" import navbar %}
{% from "footer.html" import footer %}

{% block body %}
{{ navbar() }}

<section id="title">
    <div class="container-fluid container-title">
      <div class="row">
          <div class = "col-lg-6">
            <h1 class = "tline">Stop guessing, start growing: Build your unique skillset</h1>
            <p class="tgline">
              Build a unique
              skillset based on your natural talents and watch your career and life flourish.
            </p>
            <button class = "btn btn-dark btn-lg" type="button"><i class="fa-brands fa-apple"></i>Sign up</button>
          </div>
          <div class = "col-lg-6 img-tg ">
            <img class = "title-img" src="{{ url_for('static', filename='images/study.png') }}" alt="study-img">
          </div>
      </div>
    </div>
</div>

<hr>
<br>

<div class="container p-1">
    <div class="row">
        <div class="col mt-3 pt-3">
            <h1 class="text-center">Learn Aptitude</h1>
            <div class="row gap-0 column-gap-3 row-gap-3 text-center mt-5">
                <div class="col p-3 border border-2 border-dark fs-4 rounded rounded-3 cyan-glow px-4">
                    <a class="nav-link" href="">
                        <i class="bi bi-gear fs-1"></i>
                        <p class="fs-3 mx-auto p-1">
                            Quantitative Aptitude
                        </p>
                    </a>
                </div>
                <div class="col p-3 border border-2 border-dark fs-4 rounded rounded-3 cyan-glow px-4">
                    <a class="nav-link" href="">
                        <i class="bi bi-patch-question fs-1"></i>
                        <p class="fs-3 mx-auto p-1">
                            Logical Reasoning
                        </p>
                    </a>
                </div>
                <div class="col p-3 border border-2 border-dark fs-4 rounded rounded-3 cyan-glow px-4">
                    <a class="nav-link" href="">
                        <i class="bi bi-clipboard-data fs-1"></i>
                        <p class="fs-3 ">
                            Data Interpretation
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<hr class="mt-5">

<div class="container p-1">
    <div class="row">
        <div class="col mt-3 pt-3">
            <h1 class="text-center">Companies/Platforms</h1>
            <div class="row gap-0 column-gap-3 row-gap-3 text-center mt-5">
                <div class="col p-3 border border-2 border-dark fs-4 rounded rounded-3 cyan-glow">
                    <a class="nav-link" href="">
                        <i class="bi bi-building-check fs-1"></i>
                        <p class="fs-3">
                            TCS NQT
                        </p>
                    </a>
                </div>
                <div class="col p-3 border border-2 border-dark fs-4 rounded rounded-3 cyan-glow">
                    <a class="nav-link" href="">
                        <i class="bi bi-building-check fs-1"></i>
                        <p class="fs-3">
                            Wipro NLTH
                        </p>
                    </a>
                </div>
                <div class="col p-3 border border-2 border-dark fs-4 rounded rounded-3 cyan-glow">
                    <a class="nav-link" href="">
                        <i class="bi bi-building-check fs-1"></i>
                        <p class="fs-3">
                            Infosys
                        </p>
                    </a>
                </div>
            </div>
            <!--  -->
            <div class="row gap-0 column-gap-3 row-gap-3 text-center mt-5">
                <div class="col p-3 border border-2 border-dark fs-4 rounded rounded-3 cyan-glow">
                    <a class="nav-link" href="">
                        <i class="bi bi-building-check fs-1"></i>
                        <p class="fs-3">
                            CoCubes
                        </p>
                    </a>
                </div>
                <div class="col p-3 border border-2 border-dark fs-4 rounded rounded-3 cyan-glow">
                    <a class="nav-link" href="">
                        <i class="bi bi-building-check fs-1"></i>
                        <p class="fs-3">
                            AMCAT
                        </p>
                    </a>
                </div>
                <div class="col p-3 border border-2 border-dark fs-4 rounded rounded-3 cyan-glow">
                    <a class="nav-link" href="">
                        <i class="bi bi-building-check fs-1"></i>
                        <p class="fs-3">
                            IBM
                        </p>
                    </a>
                </div>
            </div>
            <!--  -->
            <div class="row gap-0 column-gap-3 row-gap-3 text-center mt-5">
                <div class="col p-3 border border-2 border-dark fs-4 rounded rounded-3 cyan-glow">
                    <a class="nav-link" href="">
                        <i class="bi bi-building-check fs-1"></i>
                        <p class="fs-3">
                            Accenture
                        </p>
                    </a>
                </div>
                <div class="col p-3 border border-2 border-dark fs-4 rounded rounded-3 cyan-glow">
                    <a class="nav-link" href="">
                        <i class="bi bi-building-check fs-1"></i>
                        <p class="fs-3">
                            Capgemini
                        </p>
                    </a>
                </div>
                <div class="col p-3 border border-2 border-dark fs-4 rounded rounded-3 cyan-glow">
                    <a class="nav-link" href="">
                        <i class="bi bi-building-check fs-1"></i>
                        <p class="fs-3">
                            View All Companies
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<hr class="mt-5">

<div class="container p-1">
    <div class="row">
        <div class="col mt-3 pt-3">
            <h1 class="text-center">Programming/CS Subject</h1>
            <div class="row gap-0 column-gap-3 row-gap-3 text-center mt-5">
                <div class="col p-3 border border-2 border-dark fs-4 rounded rounded-3 cyan-glow">
                    <a class="nav-link" href="">
                        <i class="bi bi-pc-display-horizontal fs-1"></i>
                        <p class="fs-3">
                            Learn C/C++
                        </p>
                    </a>
                </div>
                <div class="col p-3 border border-2 border-dark fs-4 rounded rounded-3 cyan-glow">
                    <a class="nav-link" href="">
                        <i class="bi bi-pc-display-horizontal fs-1"></i>
                        <p class="fs-3">
                            Learn OS
                        </p>
                    </a>
                </div>
                <div class="col p-3 border border-2 border-dark fs-4 rounded rounded-3 cyan-glow">
                    <a class="nav-link" href="">
                        <i class="bi bi-pc-display-horizontal fs-1"></i>
                        <p class="fs-3">
                            Learn DBMS
                        </p>
                    </a>
                </div>
            </div>
            <!--  -->
            <div class="row gap-0 column-gap-3 row-gap-3 text-center mt-5">
                <div class="col p-3 border border-2 border-dark fs-4 rounded rounded-3 cyan-glow">
                    <a class="nav-link" href="">
                        <i class="bi bi-pc-display-horizontal fs-1"></i>
                        <p class="fs-3">
                            Learn DSA
                        </p>
                    </a>
                </div>
                <div class="col p-3 border border-2 border-dark fs-4 rounded rounded-3 cyan-glow">
                    <a class="nav-link" href="">
                        <i class="bi bi-pc-display-horizontal fs-1"></i>
                        <p class="fs-3">
                            Competitive Programming
                        </p>
                    </a>
                </div>
                <div class="col p-3 border border-2 border-dark fs-4 rounded rounded-3 cyan-glow">
                    <a class="nav-link" href="">
                        <i class="bi bi-pc-display-horizontal fs-1"></i>
                        <p class="fs-3">
                            View All Courses
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<hr class="mt-5">

<div class="container p-1">
    <div class="row">
        <div class="col mt-3 pt-3">
            <h1 class="text-center">Master the Interview</h1>
            <div class="row gap-0 column-gap-3 row-gap-3 text-center mt-5">
                <div class="col p-3 border border-2 border-dark fs-4 rounded rounded-3 cyan-glow">
                    <a class="nav-link" href="">
                        <i class="bi bi-pc-horizontal fs-1"></i>
                        <p class="fs-3">
                            HR Interview
                        </p>
                    </a>
                </div>
                <div class="col p-3 border border-2 border-dark fs-4 rounded rounded-3 cyan-glow">
                    <a class="nav-link" href="">
                        <i class="bi bi-pc-horizontal fs-1"></i>
                        <p class="fs-3">
                            Puzzle Interview
                        </p>
                    </a>
                </div>
                <div class="col p-3 border border-2 border-dark fs-4 rounded rounded-3 cyan-glow">
                    <a class="nav-link" href="">
                        <i class="bi bi-pc-horizontal fs-1"></i>
                        <p class="fs-3">
                            Group Discussion
                        </p>
                    </a>
                </div>
            </div>
            <div class="row gap-0 column-gap-3 row-gap-3 text-center mt-5">
                <div class="col p-3 border border-2 border-dark fs-4 rounded rounded-3 cyan-glow">
                    <a class="nav-link" href="">
                        <i class="bi bi-pc-horizontal fs-1"></i>
                        <p class="fs-3">
                            Technical Interview
                        </p>
                    </a>
                </div>
                <div class="col p-3 border border-2 border-dark fs-4 rounded rounded-3 cyan-glow">
                    <a class="nav-link" href="">
                        <i class="bi bi-pc-horizontal fs-1"></i>
                        <p class="fs-3">
                            Resume Building
                        </p>
                    </a>
                </div>
                <div class="col p-3 border border-2 border-dark fs-4 rounded rounded-3 cyan-glow">
                    <a class="nav-link" href="">
                        <i class="bi bi-pc-horizontal fs-1"></i>
                        <p class="fs-3">
                            View All
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<hr class="mt-5">

<div class="container p-1 text-center">
    <h1 class="mt-4">Why Us?</h1>

    <div class="row mt-5">
        <div class="col">
            <div class="card mb-3 border border-2 border-dark cyan-glow">
                <div class="card-body">
                    <h3 class="card-title">Effective Strategies for Studying on the Go</h3>
                    <p class="card-text fs-5">
                        Study smarter, not harder. Bite-sized lessons on your phone. Master skills on the move.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card mb-3 border border-2 border-dark cyan-glow">
                <div class="card-body">
                    <h3 class="card-title">Master, Don't Memorize: Build True Knowledge that Empowers You</h3>
                    <p class="card-text fs-5">
                        Master every angle: Shortcut hacks, real-world connections, and memory-magic formulas
                        unlock comprehensive learning in bite-sized modules.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card mb-3 border border-2 border-dark cyan-glow">
                <div class="card-body">
                    <h3 class="card-title">Empower Your Future: Connect with Industry Mentors</h3>
                    <p class="card-text fs-5">
                        Learn from the best! Decades of industry expertise go into our modules, making quality
                        education accessible & effective.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

{{ footer() }}
{% endblock %}