{% extends "base.html" %}

{% block head %}
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-9 d-flex justify-content-center align-items-center">
        <div class="m-2 p-2 fs-6">Sample Test - 10 Random Questions from Pool</div>
    </div>
    <div class="col-3 d-flex justify-content-center align-items-center">
        <div class="m-2 p-2 fs-6 fs-3" id="time">This is test interface</div>
    </div>
</div>
<div class="row bg-light">
    <div class="col overflow-scroll vh-100 border border-1">
        {% for item in questions %}
            <div class="border border-1 mb-3 mt-3 ms-2 shadow-sm" id="question-{{ loop.index }}">
                <div class="row">
                    <div class="col">
                        <div class="container m-3 fs-4 d-flex">
                            {% set index = loop.index %}
                            <span class="m-3">{{ index }}.</span>
                            <span class="m-3">{{ item.q | safe }}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="container pb-4">
                            {% for option in item.o %}
                                {% set _index = loop.index - 1 %}
                                {% set i = _index | string %}
                                <input class="m-3 p-3 shadow-sm" type="radio" name="question{{ index }}" value="{{ option }}">
                                <label for="question{{ index }}" class="fs-5">{{ option }}</label>
                                <br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="col-3 p-3 border border-1 d-none d-md-block d-lg-block d-xl-block">
        <div class="container text-center">
            <div class="mb-3 fs-5">All Questions</div>
            <div class="row">
                {% for item in questions %}
                    <div class="col-2 mb-2">
                        <a class="btn border border-1 rounded rounded-0 fs-5 shadow-sm" href="#question-{{ loop.index }}">{{ loop.index }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
