<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> User Profile</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
  <link rel="stylesheet" href="../static/css/user_profile.css">
</head>
<body>
  <main>
    <section class="profile-container">
      <div class="profile-info">
        <img src="avatar.png" alt="User Avatar">
        <h2>John Doe</h2>
        <p>john.doe@example.com</p>
        <a href = "edit-profile.html"><button id="edit-profile-btn">Edit Profile</button></a>
        <div class="additional-info">
          <p>Location: London, UK</p>
          <p>Bio: Aspiring software engineer with a passion for learning and problem-solving.</p>
          <div class = "social-links">
            <table>
              <tr>
                <td class="social-active"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a>user@Facebook</td>
                <td class="social-active"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a>user@Twitter</td>
                <td class="social-active"><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>user@LinkedIn</td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="progress-and-goals">
        <div class="progress-bars">
          <h3>Exam Progress</h3>
          <div class="progress-bar">
            <div class="progress" style="width: 75%"></div>
            <span>Math - 75%</span>
          </div>
        </div>
        <div class="goals">
          <h3>Goals</h3>
          <ul>
            <li>Score above 90% in Math</li>
            <li>Complete 5 practice tests for Science</li>
          </ul>
        </div>
      </div>

      <div class="achievements">
        <h3>Badges & Achievements</h3>
        <ul>
          <li><img src="badge_math_master.png" alt="Math Master Badge"></li>
          <li><img src="badge_practice_warrior.png" alt="Practice Warrior Badge"></li>
        </ul>
      </div>

      <div class="recent-activity">
        <h3>Recent Activity</h3>
        <ul>
          <li><i class="fa fa-check-circle"></i> Completed Practice Test: Algebra I</li>
          <li><i class="fa fa-comment"></i> Commented on a forum discussion: Chemistry</li>
        </ul>
      </div>

      <div class="upcoming-events">
        <h3>Upcoming Events</h3>
        <ul>
          <li><i class="fa fa-calendar-alt"></i> Live Session: Mastering Calculus Concepts (April 12th)</li>
        </ul>
      </div>

      <div class="study-resources">
        <h3>Recommended Resources</h3>
        <ul>
          <li><a href="#">5 Best Websites for Math Practice</a></li>
          <li><a href="#">Free Chemistry Video Tutorials</a></li>
        </ul>
      </div>
    </section>
  </main>

</body>
</html>

