:root {
    --base-margin-percentage: 1%;
    --base-padding-percentage: 1%;
}

.pt-0p { padding-top: calc(var(--base-padding-percentage) * 0); }
.pt-5p { padding-top: calc(var(--base-padding-percentage) * 5); }
.pt-7p { padding-top: calc(var(--base-padding-percentage) * 7); }
.pt-10p { padding-top: calc(var(--base-padding-percentage) * 10); }
.pt-15p { padding-top: calc(var(--base-padding-percentage) * 15); }

.p-0p { padding: calc(var(--base-padding-percentage) * 0); }
.p-5p { padding: calc(var(--base-padding-percentage) * 5); }
.p-10p { padding: calc(var(--base-padding-percentage) * 10); }
.p-15p { padding: calc(var(--base-padding-percentage) * 15); }

.pb-0p { padding-bottom: calc(var(--base-padding-percentage) * 0); }
.pb-5p { padding-bottom: calc(var(--base-padding-percentage) * 5); }
.pb-7p { padding-bottom: calc(var(--base-padding-percentage) * 7); }
.pb-10p { padding-bottom: calc(var(--base-padding-percentage) * 10); }
.pb-15p { padding-bottom: calc(var(--base-padding-percentage) * 15); }

.pl-0p { padding-left: calc(var(--base-padding-percentage) * 0); }
.pl-5p { padding-left: calc(var(--base-padding-percentage) * 5); }
.pl-10p { padding-left: calc(var(--base-padding-percentage) * 10); }
.pl-15p { padding-left: calc(var(--base-padding-percentage) * 15); }

.pr-0p { padding-right: calc(var(--base-padding-percentage) * 0); }
.pr-5p { padding-right: calc(var(--base-padding-percentage) * 5); }
.pr-10p { padding-right: calc(var(--base-padding-percentage) * 10); }
.pr-15p { padding-right: calc(var(--base-padding-percentage) * 15); }

.mt-0p { margin-top: calc(var(--base-margin-percentage) * 0); }
.mt-5p { margin-top: calc(var(--base-margin-percentage) * 5); }
.mt-10p { margin-top: calc(var(--base-margin-percentage) * 10); }
.mt-15p { margin-top: calc(var(--base-margin-percentage) * 15); }

.m-0p { margin: calc(var(--base-margin-percentage) * 0); }
.m-5p { margin: calc(var(--base-margin-percentage) * 5); }
.m-10p { margin: calc(var(--base-margin-percentage) * 10); }
.m-15p { margin: calc(var(--base-margin-percentage) * 15); }

.mb-0p { margin-bottom: calc(var(--base-margin-percentage) * 0); }
.mb-5p { margin-bottom: calc(var(--base-margin-percentage) * 5); }
.mb-10p { margin-bottom: calc(var(--base-margin-percentage) * 10); }
.mb-15p { margin-bottom: calc(var(--base-margin-percentage) * 15); }

.ml-0p { margin-left: calc(var(--base-margin-percentage) * 0); }
.ml-5p { margin-left: calc(var(--base-margin-percentage) * 5); }
.ml-10p { margin-left: calc(var(--base-margin-percentage) * 10); }
.ml-15p { margin-left: calc(var(--base-margin-percentage) * 15); }

.mr-0p { margin-right: calc(var(--base-margin-percentage) * 0); }
.mr-5p { margin-right: calc(var(--base-margin-percentage) * 5); }
.mr-10p { margin-right: calc(var(--base-margin-percentage) * 10); }
.mr-15p { margin-right: calc(var(--base-margin-percentage) * 15); }